body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(150deg, rgb(206, 119, 119), rgb(180, 65, 105));
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    color: black;
    padding: 0;
}

.subMenu {
    display: none;
    border: 1px solid white;
    margin: 15px;
    box-shadow: 1px 2px 2px black;
    background-color: rgb(179, 172, 172);
    font-size: 20px;
    transition: transform 0.5s;
    animation: color-change 1s cubic-bezier(0.42, 0, 0.58, 1) 0.1s infinite alternate;
}

@keyframes color-change {
    0% {
        background-color: rgb(180, 155, 155);
    }
    100% {
        background-color: rgb(93, 89, 89);
    }
}

.subMenu:active {
    transform: translateY(-10px);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 83.7vh;
    margin: 0;
}

.width_button {
    width: 33.3%;
}

.menu {
    text-decoration: none;
    cursor: pointer;
}

.menu:hover .subMenu {
    display: block;
}

.menu-title {
    padding: 20px;
    margin: 0;
    text-align: center;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s background-color;
}

.firstTitle {
    background-color: rgb(15, 101, 44);
}

.secondTitle {
    background-color: rgb(14, 38, 100);
}

.thirdTitle {
    background-color: rgb(161, 27, 27);
}

.footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(45deg, red, blue);
    gap: 20px;
    padding: 20px;
}

.footer_container li {
    color: black;
    font-size: 50px;
    transition: color 0.5s;
}

.footer_container li:hover {
    color: white;
}

.footer_container div {
    background-color: white;
    padding: 12px;
    border-radius: 50%;
    box-shadow: 1px 1px 3px black;
    transition: transform 0.1s, background-color 0.5s linear;
    pointer-events: all;
}

.footer_container div:hover {
    transform: translateY(-10px);
    background-color: black;
}